{{#foreach navigation}}
<a class="text-base font-medium text-gray-900 hover:text-gray-700 menu-item-{{slug}}{{#if current}} menu-item-current{{/if}}"
  href="{{url absolute=" true"}}">{{label}}</a>
{{/foreach}}